.form-container {
  margin: 15px;
  // display: flex;
  // flex-direction: column;

  &> * {
    width: 100%;
  }

  & button {
    margin-top: 5px;
  }

  // .buttonRegion > button{
  //   float: right;
  //   margin-left: 10px;
  // }


}




