<!-- <div *ngIf="!activeCustomer">
  <p>{{activeCustomer.firstname}} wurde geklickt</p>
</div> -->

<div *ngIf="activeCustomer" class="form-container">
  <mat-form-field>
    <input matInput placeholder="Vorname" value="{{activeCustomer.firstname}}">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Nachname" value="{{activeCustomer.lastname}}">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Geburtstag" value="{{activeCustomer.birthday}}">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Telefonnummer" value="{{activeCustomer.tele}}">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="saveCustomer()">Speichern</button>
  <!-- <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field> -->
</div>
