@import './app/styles/mixins';

@import '~@angular/material/theming';
@include mat-core();

$frontend-primary: mat-palette($mat-indigo);
$frontend-accent: mat-palette($mat-deep-orange, A200, A100, A400);
$frontend-warn: mat-palette($mat-red);

$frontend-theme: mat-light-theme($frontend-primary, $frontend-accent, $frontend-warn);

@include angular-material-theme($frontend-theme);

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing.dark-backdrop {
  background: #000;
  opacity: 0.75 !important;
}

// additional component theming
@include mat-grid-mixin($frontend-theme);

.float-right {
  float: right;
}
