<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div *ngFor="let entry of questions | keyvalue:descOrder" class="form-row">
      <label [attr.for]="entry.key.name">{{entry.key.name}}</label>
      <br /><br />
      <div *ngFor="let question of entry.value" [formGroupName]="entry.key.id">
          <label [attr.for]="question.key">{{question.label}}</label>

          <div [ngSwitch]="question.controlType">

            <input *ngSwitchCase="'input'" [formControlName]="question.key"
                    [id]="question.key" [type]="question.type">

            <select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
              <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
            </select>

            <div *ngSwitchCase="'radio'" class="radio-question">
              <label *ngFor="let opt of question.options" class="testung-container">
                {{opt.key}}
                <input
                  type="radio"
                  [formControlName]="question.key"
                  [value]="opt.value"
                  [checked]="(question.value === opt.value)">
                <span class="checkmark"></span>
              </label>
            </div>

            <div *ngSwitchCase="'textarea'" class="textarea-question">
                <textarea
                  [formControlName]="question.key"
                  matInput
                  placeholder="Bitte eintragen"
                  [value]="question.value"
                  >
                </textarea>
            </div>
          <mat-divider></mat-divider>
        </div>
    </div>
  </div>

    <div class="form-row">
      <button mat-raised-button color="primary" type="submit">Speichern</button>
    </div>
  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
</div>
